Repository KlikkAI/reporunner: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, frontend, cli, sdk

fix: fix errors
  packages/frontend/src/core/nodes/registry.ts
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/containerConnectionValidator.ts
  packages/frontend/src/core/services/workflowDebugger.ts
  packages/frontend/src/core/services/workflowScheduler.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/costOptimizer.ts
Due: frontend

fix: fix errors
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/core/services/advancedAuthService.ts
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
  packages/frontend/src/core/services/integrationMarketplaceService.ts
  packages/frontend/src/core/services/workflowOptimizer.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  packages/frontend/src/core/stores/rbacStore.ts
  packages/frontend/src/core/types/security.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/integrationMarketplaceService.ts
  packages/frontend/src/core/services/performanceMonitor.ts
  packages/frontend/src/core/services/rbacService.ts
  packages/frontend/src/core/services/securityService.ts
  packages/frontend/src/core/services/workflowDebugger.ts
  packages/frontend/src/core/services/workflowScheduler.ts
  packages/frontend/src/core/stores/aiAssistantStore.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  packages/frontend/src/core/types/collaboration.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
  packages/frontend/src/core/utils/reverseTypeAdapters.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/enterpriseSecurityService.ts
  packages/frontend/src/core/services/integrationMarketplaceService.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/integrationMarketplaceService.ts
  packages/frontend/src/core/services/performanceMonitor.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/performanceMonitor.ts
  packages/frontend/src/core/services/rbacService.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/rbacService.ts
Due: frontend

fix: fix errors
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
  packages/frontend/src/core/services/integrationMarketplaceService.ts
  packages/frontend/src/core/services/rbacService.ts
  packages/frontend/src/core/services/securityService.ts
  packages/frontend/src/core/services/workflowDebugger.ts
  packages/frontend/src/core/services/workflowOptimizer.ts
  packages/frontend/src/core/services/workflowScheduler.ts
  packages/frontend/src/core/stores/aiAssistantStore.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  packages/frontend/src/core/types/security.ts
Due: frontend

fix: build errors fixed
  packages/frontend/tsconfig.tsbuildinfo
Due: frontend

fet: landing page added
  docs/ARCHITECTURE_COMPARISON.md
  docs/DATABASE_ARCHITECTURE.md
  docs/ENTERPRISE_SCALING_PLAN.md
  docs/README.md
  docs/WORK_DONE_2025_01_09.md
  packages/frontend/src/app/App.tsx
  packages/frontend/src/app/components/Landing/CallToAction.tsx
  packages/frontend/src/app/components/Landing/ComparisonTable.tsx
  packages/frontend/src/app/components/Landing/CompetitiveAdvantage.tsx
  packages/frontend/src/app/components/Landing/EnterpriseFeatures.tsx
  packages/frontend/src/app/components/Landing/FeatureShowcase.tsx
  packages/frontend/src/app/components/Landing/Footer.tsx
  packages/frontend/src/app/components/Landing/HeroSection.tsx
  packages/frontend/src/app/components/Landing/IntegrationEcosystem.tsx
  packages/frontend/src/app/components/Landing/PricingSection.tsx
  packages/frontend/src/app/components/Landing/SocialProof.tsx
  packages/frontend/src/app/hooks/useScrollAnimations.ts
  packages/frontend/src/app/pages/LandingPage.tsx
  packages/frontend/src/app/styles/landing-animations.css
  packages/frontend/src/main.tsx
Due: frontend

feat: complete enterprise website with navigation and all missing pages
  packages/frontend/src/app/App.tsx
  packages/frontend/src/app/components/Landing/CallToAction.tsx
  packages/frontend/src/app/components/Landing/EnterpriseFeatures.tsx
  packages/frontend/src/app/components/Landing/FeatureShowcase.tsx
  packages/frontend/src/app/components/Landing/Footer.tsx
  packages/frontend/src/app/components/Landing/Header.tsx
  packages/frontend/src/app/components/Landing/HeroSection.tsx
  packages/frontend/src/app/components/Landing/PricingSection.tsx
  packages/frontend/src/app/hooks/useScrollAnimations.ts
  packages/frontend/src/app/pages/APIReference.tsx
  packages/frontend/src/app/pages/About.tsx
  packages/frontend/src/app/pages/Contact.tsx
  packages/frontend/src/app/pages/Documentation.tsx
  packages/frontend/src/app/pages/Enterprise.tsx
  packages/frontend/src/app/pages/Features.tsx
  packages/frontend/src/app/pages/IntegrationsPage.tsx
  packages/frontend/src/app/pages/LandingPage.tsx
  packages/frontend/src/app/pages/Login.tsx
  packages/frontend/src/app/pages/PricingPage.tsx
  packages/frontend/src/app/pages/Privacy.tsx
  packages/frontend/src/app/pages/Register.tsx
  packages/frontend/src/app/pages/Roadmap.tsx
  packages/frontend/src/app/pages/SelfHosted.tsx
  packages/frontend/src/app/pages/Terms.tsx
Due: frontend

fix: clean up unused imports and parameters for TypeScript compliance
  packages/frontend/src/app/components/Landing/FeatureShowcase.tsx
  packages/frontend/src/app/components/Landing/Header.tsx
  packages/frontend/src/app/pages/APIReference.tsx
  packages/frontend/src/app/pages/About.tsx
  packages/frontend/src/app/pages/Contact.tsx
  packages/frontend/src/app/pages/Documentation.tsx
  packages/frontend/src/app/pages/Enterprise.tsx
  packages/frontend/src/app/pages/Features.tsx
  packages/frontend/src/app/pages/IntegrationsPage.tsx
  packages/frontend/src/app/pages/PricingPage.tsx
  packages/frontend/src/app/pages/Privacy.tsx
  packages/frontend/src/app/pages/Roadmap.tsx
  packages/frontend/src/app/pages/SelfHosted.tsx
  packages/frontend/src/app/pages/Terms.tsx
Due: frontend

docs: consolidate legacy documentation files
  docs/00_MASTER_DOCUMENTATION_INDEX.md
  docs/01_IMPLEMENTED_FEATURES_CONSOLIDATED.md
  docs/02_INFRASTRUCTURE_SCALING_ROADMAP.md
  docs/03_INTEGRATION_ECOSYSTEM_PLAN.md
  docs/04_REAL_TIME_COLLABORATION_PLAN.md
  docs/05_ADVANCED_FEATURES_ROADMAP.md
  docs/06_LLM_IMPLEMENTATION_GUIDE.md
  docs/ARCHITECTURE_COMPARISON.md
  docs/DATABASE_ARCHITECTURE.md
  docs/ENTERPRISE_SCALING_PLAN.md
  docs/ENTERPRISE_SECURITY_IMPLEMENTATION_SUMMARY.md
  docs/FEATURES_IMPLEMENTATION_PLAN.md
  docs/IMPLEMENTATION_PROGRESS_SUMMARY.md
  docs/LARGE_SCALE_ARCHITECTURE.md
  docs/MIGRATION_IMPORT_RESOLUTION_PLAN.md
  docs/PHASE_1_HOTFIXES.md
  docs/PHASE_1_IMPLEMENTATION_SUMMARY.md
  docs/WORKFLOW_EDITOR_FEATURES_ANALYSIS.md
  docs/WORK_DONE_2025_01_09.md
Due: none

fix: resolve TypeScript configuration and dependency issues
  .tsbuildinfo
  packages/@reporunner/api-types/tsconfig.tsbuildinfo
  packages/@reporunner/constants/tsconfig.json
  packages/@reporunner/db/package.json
  packages/@reporunner/db/tsconfig.json
  packages/@reporunner/platform/execution-engine/package.json
  packages/@reporunner/platform/execution-engine/tsconfig.json
  packages/@reporunner/security/package.json
  packages/@reporunner/security/src/index.ts
  packages/@reporunner/security/tsconfig.json
  packages/backend/src/models/Comment.ts
  pnpm-lock.yaml
Due: backend

fix: additional TypeScript fixes for @reporunner packages
  packages/@reporunner/api-types/src/auth.types.ts
  packages/@reporunner/db/package.json
  packages/@reporunner/db/src/database-service.ts
  packages/@reporunner/db/src/mongodb/connection.ts
  packages/@reporunner/db/src/mongodb/schemas/workflow.schema.ts
  packages/@reporunner/db/src/postgresql/connection.ts
  pnpm-lock.yaml
Due: none

fix: add missing error codes to constants package and fix syntax errors
  packages/@reporunner/constants/src/index.ts
Due: none

fix: major TypeScript error resolution in security package
  packages/@reporunner/constants/src/index.ts
  packages/@reporunner/security/src/audit-logger.ts
  packages/@reporunner/security/src/index.ts
  packages/@reporunner/security/src/jwt-session.ts
  packages/@reporunner/security/src/middleware/auth.middleware.ts
  packages/@reporunner/security/src/middleware/file-upload.middleware.ts
  packages/@reporunner/security/src/middleware/security-headers.middleware.ts
  packages/@reporunner/security/src/middleware/validation.middleware.ts
  packages/@reporunner/security/src/rate-limiter.ts
Due: none

fix: resolve most remaining TypeScript issues in security package
  packages/@reporunner/security/src/jwt-session.ts
  packages/@reporunner/security/src/middleware/auth.middleware.ts
  packages/@reporunner/security/src/middleware/validation.middleware.ts
Due: none

fix: solutiuons of git commit
  COMMIT_SOLUTIONS.md
Due: none

fix: update TypeDoc configuration to include new package paths for CLI and TypeScript SDK
  .changeset/README.md
  .changeset/config.json
  AGENTS.md
  SCRIPT_FIXES_SUMMARY.md
  development/scripts/prepare.js
  development/scripts/reset.js
  package.json
  packages/@reporunner/api/package.json
  packages/@reporunner/cli/src/commands/auth.ts
  packages/@reporunner/cli/src/commands/build.ts
  packages/@reporunner/cli/src/commands/create.ts
  packages/@reporunner/cli/src/commands/deploy.ts
  packages/@reporunner/cli/src/commands/dev.ts
  packages/@reporunner/cli/src/commands/start.ts
  packages/@reporunner/cli/src/commands/workflow.ts
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  typedoc.json
Due: backend, frontend

chore: update pnpm workspace and turbo configuration
  .tsbuildinfo
  development/scripts/reset.js
  development/scripts/setup-env.js
  development/scripts/setup-node.js
  packages/@reporunner/api-types/package.json
  packages/@reporunner/api-types/src/auth.types.ts
  packages/@reporunner/api-types/src/workflow.types.ts
  packages/@reporunner/api-types/tsconfig.tsbuildinfo
  packages/@reporunner/cli/package.json
  packages/@reporunner/cli/src/commands/auth.ts
  packages/@reporunner/cli/src/commands/build.ts
  packages/@reporunner/cli/src/commands/create.ts
  packages/@reporunner/cli/src/commands/deploy.ts
  packages/@reporunner/cli/src/commands/dev.ts
  packages/@reporunner/cli/src/commands/start.ts
  packages/@reporunner/cli/src/commands/workflow.ts
  packages/@reporunner/gateway/src/index.ts
  packages/@reporunner/monitoring/src/index.ts
  packages/@reporunner/services/execution-service/src/index.ts
  packages/@reporunner/services/execution-service/src/queue.ts
  packages/@reporunner/workflow-engine/package.json
  packages/core/package.json
  packages/frontend/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: core, frontend

feat: add package configuration files for backend and frontend with scripts and dependencies
  packages/backend/package-original.json
  packages/backend/package-simple.json
  packages/backend/package.json
  packages/core/temp-package.json
  packages/frontend/package-original.json
  packages/frontend/package-simple.json
  packages/frontend/package.json
  packages/frontend/vite.config.ts
Due: core, backend, frontend

fix: login registration alignment fix
  packages/backend/src/domains/auth/controllers/AuthController.ts
  packages/backend/src/domains/auth/repositories/UserRepository.ts
  packages/backend/src/domains/auth/services/AuthService.ts
  packages/backend/src/domains/auth/validators/authValidators.ts
  packages/frontend/src/app/pages/Dashboard.tsx
  packages/frontend/src/core/schemas/AuthSchemas.ts
Due: backend, frontend

feat: enhance UI and improve performance across Dashboard, Executions, and Settings pages
  packages/frontend/src/app/components/Layout/Layout.tsx
  packages/frontend/src/app/components/Layout/Sidebar.tsx
  packages/frontend/src/app/pages/Credentials.tsx
  packages/frontend/src/app/pages/Dashboard.tsx
  packages/frontend/src/app/pages/Executions.tsx
  packages/frontend/src/app/pages/Settings.tsx
Due: frontend

fix: dashboard fix
  packages/frontend/src/app/components/Layout/Sidebar.tsx
Due: frontend

feat: implement route transition and dark mode enhancements
  packages/backend/src/domains/workflows/services/WorkflowService.ts
  packages/backend/src/models/Workflow.ts
  packages/frontend/index.html
  packages/frontend/package-lock.json
  packages/frontend/src/app/App.tsx
  packages/frontend/src/app/components/RouteTransition.tsx
  packages/frontend/src/app/pages/LandingPage.tsx
  packages/frontend/src/app/styles/global.css
  packages/frontend/src/index.css
  packages/frontend/src/main.tsx
  packages/frontend/tailwind.config.js
Due: backend, frontend

feat: added some new features
  IMPLEMENTATION_REPORT.md
  REFACTORING_GUIDE.md
  packages/@reporunner/platform/event-bus/src/distributed-event-bus.ts
  packages/@reporunner/services/analytics-service/src/index.ts
  packages/@reporunner/services/audit-service/src/index.ts
  packages/@reporunner/services/execution-service/src/index.ts
  packages/@reporunner/services/notification-service/src/index.ts
  packages/@reporunner/services/tenant-service/src/index.ts
  packages/@reporunner/services/workflow-service/src/controllers/workflow.controller.ts
  packages/@reporunner/services/workflow-service/src/index.ts
Due: none

Path conditions:
  core: any of: packages/core/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  backend: any of: packages/backend/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  frontend: any of: packages/frontend/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  sdk: any of: packages/sdk/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
