Repository KlikkAI/reporunner: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, frontend, cli, sdk

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto
    patch:
      default:
        target: 70%
        threshold: 10%
        base: auto

flags:
  core:
    paths:
      - packages/core/
  backend:
    paths:
      - packages/backend/
  frontend:
    paths:
      - packages/frontend/
  cli:
    paths:
      - packages/cli/
  sdk:
    paths:
      - packages/sdk/

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name_prefix: core
        type: project
        target: 80%
      - name_prefix: backend
        type: project
        target: 85%
      - name_prefix: frontend
        type: project
        target: 75%
      - name_prefix: cli
        type: project
        target: 70%
      - name_prefix: sdk
        type: project
        target: 90%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

ignore:
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.d.ts"
  - "**/coverage/**"

fix: som errors fix
  .tsbuildinfo
  packages/@reporunner/ai/src/nodes/ai-chat-node.ts
  packages/@reporunner/ai/src/nodes/ai-completion-node.ts
  packages/@reporunner/ai/src/providers/anthropic-provider/anthropic-provider.ts
  packages/@reporunner/core/src/utils/logger.ts
  packages/@reporunner/security/src/middleware/auth/services/TokenService.ts
  packages/backend/src/server.ts
Due: backend

refactor: docs organised and gap analysis
  .tsbuildinfo
  docs/README.md
  docs/history/INDEX.md
  docs/history/migrations/FIRST_MIGRATION_SUCCESS.md
  docs/history/migrations/FRONTEND_MIGRATION_STATUS.md
  docs/history/migrations/MIGRATION_GUIDE.md
  docs/history/migrations/MIGRATION_PROGRESS_REVIEW.md
  docs/history/migrations/WORKFLOW_STORE_MIGRATION.md
  docs/history/security/SECURITY_AUDIT_REPORT.md
  docs/history/security/SECURITY_FIXES_APPLIED.md
  docs/history/sessions/SESSION_SUMMARY_2025-09-30.md
  docs/history/sprints/LOGGER_SPRINT_COMPLETE.md
  docs/project-planning/INDEX.md
  docs/project-planning/PLATFORM_GAP_ANALYSIS_2025.md
  docs/project-planning/architecture/AGENTS.md
  docs/project-planning/architecture/ENTERPRISE_ARCHITECTURE.md
  docs/project-planning/guides/06_LLM_IMPLEMENTATION_GUIDE.md
  docs/project-planning/guides/SDK_COMPARISON.md
  docs/project-planning/roadmaps/02_INFRASTRUCTURE_SCALING_ROADMAP.md
  docs/project-planning/roadmaps/03_INTEGRATION_ECOSYSTEM_PLAN.md
  docs/project-planning/roadmaps/05_ADVANCED_FEATURES_ROADMAP.md
  docs/project-planning/roadmaps/ACTIVE_ROADMAP.md
  packages/backend/src/domains/auth/services/AuthService.ts
  packages/backend/src/server.ts
  packages/backend/src/utils/jwt.ts
Due: backend

community infrastructure files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  docs/api/OPENAPI_README.md
  docs/api/asyncapi.yaml
  docs/deployment/docker/README.md
  docs/deployment/kubernetes/README.md
  infrastructure/monitoring/grafana/dashboard-configs/api-performance.json
  infrastructure/monitoring/grafana/dashboard-configs/workflow-execution.json
  packages/@reporunner/api/src/swagger/spec-generator.ts
Due: none

feat: added some docs
  GOVERNANCE.md
  MAINTAINERS.md
  SESSION_SUMMARY_2025-10-02.md
  development/scripts/export-openapi.js
  docs/deployment/cloud-providers/README.md
  docs/operations/backup-recovery/README.md
  docs/operations/logging/README.md
  docs/operations/monitoring/README.md
  docs/operations/scaling/README.md
  docs/operations/tracing/README.md
  docs/operations/troubleshooting/README.md
  docs/user-guide/GETTING_STARTED.md
  docs/user-guide/INTEGRATIONS_GUIDE.md
  docs/user-guide/WORKFLOW_EXAMPLES.md
  package.json
Due: none

feat: codequality verify and sorted docs
  .tsbuildinfo
  docs/README.md
  docs/history/INDEX.md
  docs/history/PROJECT_HISTORY.md
  docs/history/gap-analysis/PLATFORM_GAP_ANALYSIS_2025_v5.1_ARCHIVED.md
  docs/history/sessions/SESSION_SUMMARY_2025-10-02_S4.md
  docs/project-planning/INDEX.md
  docs/project-planning/PLATFORM_GAP_ANALYSIS_2025.md
  infrastructure/observability/instrumentation/nodejs/src/index.ts
  package.json
  packages/@reporunner/core/vitest.config.ts
  packages/@reporunner/design-system/vitest.config.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/setup.ts
Due: none

fix: package json error fix
  .tsbuildinfo
  packages/@reporunner/ai/tsconfig.json
  packages/@reporunner/auth/tsconfig.json
  packages/@reporunner/backend-common/tsconfig.json
  packages/@reporunner/cli/tsconfig.json
  packages/@reporunner/constants/tsconfig.json
  packages/@reporunner/design-system/tsconfig.json
  packages/@reporunner/dev-tools/tsconfig.json
  packages/@reporunner/enterprise/tsconfig.json
  packages/@reporunner/gateway/tsconfig.json
  packages/@reporunner/monitoring/tsconfig.json
  packages/@reporunner/platform/event-bus/tsconfig.json
  packages/@reporunner/platform/execution-engine/tsconfig.json
  packages/@reporunner/platform/resource-manager/tsconfig.json
  packages/@reporunner/platform/scheduler/tsconfig.json
  packages/@reporunner/platform/state-store/tsconfig.json
  packages/@reporunner/security/tsconfig.json
  packages/@reporunner/services/analytics-service/tsconfig.json
  packages/@reporunner/services/audit-service/tsconfig.json
  packages/@reporunner/services/auth-service/tsconfig.json
  packages/@reporunner/services/execution-service/tsconfig.json
  packages/@reporunner/services/notification-service/tsconfig.json
  packages/@reporunner/services/tenant-service/tsconfig.json
  packages/@reporunner/services/workflow-service/tsconfig.json
  packages/@reporunner/validation/tsconfig.json
  packages/@reporunner/workflow-engine/tsconfig.json
  packages/@reporunner/workflow/tsconfig.json
Due: none

fix: typescript errpor fixing
  .tsbuildinfo
  packages/frontend/src/app/components/ExecutionHistory/ExecutionHistory.tsx
  packages/frontend/src/app/components/SecurityDashboard/SecurityDashboard.tsx
  packages/frontend/src/app/components/WorkflowEditor/AIAssistantPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AdvancedPropertyPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AnalyticsDashboard.tsx
  packages/frontend/src/app/components/WorkflowEditor/CommentAnnotations.tsx
  packages/frontend/src/app/components/WorkflowEditor/ConditionalBranchingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.legacy.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.v1.tsx
  packages/frontend/src/app/components/WorkflowEditor/ExecutionToolbar.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/BaseNode/NodeHandles.tsx
  packages/frontend/src/app/components/WorkflowEditor/UserPresenceOverlay.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/app/components/WorkflowTester/WorkflowTester.tsx
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/actions/index.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions/index.ts
  packages/frontend/src/app/hooks/useCredentialForm.ts
  packages/frontend/src/app/hooks/useGmailCredential.ts
  packages/frontend/src/app/services/executionMonitorService.ts
  packages/frontend/src/core/schemas/BaseSchemas.ts
  packages/frontend/src/core/services/ConfigService.ts
  packages/frontend/src/core/services/advancedTriggerSystem.ts
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/analyticsService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
  packages/frontend/src/core/services/workflowScheduler.ts
  packages/frontend/src/core/services/workflowTemplates.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  packages/frontend/src/core/stores/enhancedExecutionStore.ts
  packages/frontend/src/core/stores/leanWorkflowStore.ts
  packages/frontend/src/core/types/collaboration.ts
  packages/frontend/src/core/types/dynamicProperties.ts
  packages/frontend/src/core/types/edge.ts
  packages/frontend/src/core/types/integration.ts
  packages/frontend/src/core/utils/expressionEvaluator.ts
  packages/frontend/src/core/utils/nodeGenerator.ts
  packages/frontend/src/core/utils/typeValidation.ts
Due: frontend

feat: refactor and implement RBAC,CDN,Cashing,DB optimization
  .dockerignore
  .env.example
  .github/workflows/bundle-analysis.yml
  .github/workflows/ci.yml
  .size-limit.json
  Makefile
  OPTIMIZATION_GUIDE.md
  PACKAGE_CONSOLIDATION_PLAN.md
  biome.json
  bundlemon.config.json
  knip.json
  package.json
  packages/@reporunner/ai/package.json
  packages/@reporunner/ai/src/optimization-engine.ts
  packages/@reporunner/ai/src/workflow-ai-assistant.ts
  packages/@reporunner/core/package.json
  packages/@reporunner/core/src/performance/caching-engine.ts
  packages/@reporunner/database/src/optimization/query-optimizer.ts
  packages/@reporunner/security/src/audit-logger.ts
  packages/@reporunner/security/src/rbac-engine.ts
  packages/@reporunner/ui/package.json
  packages/@reporunner/upload/src/FileProcessingService.ts
  packages/backend/package.json
  packages/backend/src/services/ExecutionMonitoringService.ts
  packages/frontend/package.json
  packages/frontend/src/app/components/WorkflowEditor/EnhancedWorkflowCanvas.tsx
  packages/frontend/src/core/stores/enhancedWorkflowStore.ts
  performance-budget.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: backend, frontend

feat: refactor and added features
  DIRECTORY_STRUCTURE_ANALYSIS.md
  ENTERPRISE_ARCHITECTURE_ANALYSIS.md
  ENTERPRISE_SECURITY_SERVICE_COMPLETION.md
  FRONTEND_BACKEND_ANALYSIS.md
  FRONTEND_SECURITY_CLEANUP_SUMMARY.md
  IMPLEMENTATION_ROADMAP.md
  MISSING_OPEN_SOURCE_ESSENTIALS.md
  SIMPLIFIED_NODE_SYSTEM.md
  UPDATED_ENTERPRISE_ANALYSIS.md
  packages/backend/src/routes/audit.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/schedules.ts
  packages/backend/src/routes/security.ts
  packages/backend/src/routes/triggers.ts
  packages/backend/src/services/AuditService.ts
  packages/backend/src/services/EnterpriseSecurityService.ts
  packages/backend/src/services/TriggerSystemService.ts
  packages/backend/src/services/WorkflowSchedulerService.ts
  packages/frontend/src/app/services/executionMonitorService.ts
  packages/frontend/src/app/services/index.ts
  packages/frontend/src/core/services/advancedTriggerSystem.ts
  packages/frontend/src/core/services/auditService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
  packages/frontend/src/core/services/index.ts
  packages/frontend/src/core/services/workflowScheduler.ts
  packages/frontend/src/hooks/useAudit.ts
  packages/frontend/src/hooks/useSchedules.ts
  packages/frontend/src/hooks/useSecurity.ts
  packages/frontend/src/hooks/useTriggers.ts
Due: backend, frontend

refactor: consolidate packages
  packages/shared/package.json
  packages/shared/src/constants/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/audit.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/schedules.ts
  packages/shared/src/types/security.ts
  packages/shared/src/types/triggers.ts
  packages/shared/src/validation/index.ts
Due: none

refactor: documentation reorganization is complete
  WARP.md
  docs/README.md
  docs/history/analysis/DIRECTORY_STRUCTURE_ANALYSIS.md
  docs/history/analysis/ENTERPRISE_ARCHITECTURE_ANALYSIS.md
  docs/history/analysis/ENTERPRISE_SECURITY_SERVICE_COMPLETION.md
  docs/history/analysis/FRONTEND_BACKEND_ANALYSIS.md
  docs/history/analysis/FRONTEND_SECURITY_CLEANUP_SUMMARY.md
  docs/history/analysis/INDEX.md
  docs/history/analysis/MISSING_OPEN_SOURCE_ESSENTIALS.md
  docs/history/analysis/UPDATED_ENTERPRISE_ANALYSIS.md
  docs/history/consolidation/COMPLETION_ROADMAP.md
  docs/history/consolidation/INDEX.md
  docs/history/consolidation/PACKAGE_CONSOLIDATION_ANALYSIS.md
  docs/history/consolidation/PACKAGE_CONSOLIDATION_PLAN.md
  docs/history/consolidation/PACKAGE_CONSOLIDATION_SUMMARY.md
  docs/history/consolidation/PHASE_1_CONSOLIDATION_SUCCESS.md
  docs/project-planning/guides/IMPLEMENTATION_ROADMAP.md
  docs/project-planning/guides/INDEX.md
  docs/project-planning/guides/OPTIMIZATION_GUIDE.md
  docs/project-planning/guides/SIMPLIFIED_NODE_SYSTEM.md
Due: none

feat: implement performance analysis
  packages/@reporunner/validation/examples/dev-experience-example.ts
  packages/@reporunner/validation/examples/memory-monitoring-example.ts
  packages/@reporunner/validation/src/__tests__/dev-experience-metrics.test.ts
  packages/@reporunner/validation/src/__tests__/memory-monitor.test.ts
  packages/@reporunner/validation/src/cli/dev-experience-cli.ts
  packages/@reporunner/validation/src/cli/memory-monitor.ts
  packages/@reporunner/validation/src/developer-experience/DevExperienceMetrics.ts
  packages/@reporunner/validation/src/developer-experience/IDEPerformanceAnalyzer.ts
  packages/@reporunner/validation/src/developer-experience/ProductivityTracker.ts
  packages/@reporunner/validation/src/developer-experience/index.ts
  packages/@reporunner/validation/src/index.ts
  packages/@reporunner/validation/src/monitoring/MemoryLeakDetector.ts
  packages/@reporunner/validation/src/monitoring/MemoryMonitor.ts
  packages/@reporunner/validation/src/monitoring/MemoryOptimizer.ts
  packages/@reporunner/validation/src/monitoring/index.ts
Due: none

feat: developer experience metrics updated
  packages/@reporunner/validation/CHANGELOG.md
  packages/@reporunner/validation/DEVELOPER-EXPERIENCE-QUICK-START.md
  packages/@reporunner/validation/README-dev-experience.md
  packages/@reporunner/validation/README.md
  packages/@reporunner/validation/package.json
Due: none

feat: launch strategy
  POST_LAUNCH_STRATEGY.md
  packages/@reporunner/ai/tsup.config.bundled_ohigf2zhuln.mjs
Due: none

feat: documentation consolidation and updated
  CLAUDE.md
  DOCUMENTATION.md
  docs/README.md
  docs/history/INDEX.md
  docs/history/consolidation/PACKAGE_CONSOLIDATION_COMPLETE.md
  docs/history/phases/PHASE_B_IMPLEMENTATION_SUMMARY.md
  docs/history/phases/PHASE_C_IMPLEMENTATION_SUMMARY.md
  docs/history/phases/PHASE_D_IMPLEMENTATION_SUMMARY.md
  docs/project-planning/INDEX.md
  docs/project-planning/strategies/POST_LAUNCH_STRATEGY.md
Due: none

fix: fixing errors
  .tsbuildinfo
  packages/@reporunner/auth/package.json
  packages/@reporunner/auth/src/middleware/session-middleware.ts
  packages/@reporunner/auth/src/security/audit-logger.ts
  packages/@reporunner/auth/src/security/encryption.service.ts
  packages/@reporunner/auth/src/security/middleware/file-upload.middleware.ts
  packages/@reporunner/auth/src/security/middleware/security-headers/SecurityHeadersMiddleware.ts
  packages/@reporunner/auth/src/security/middleware/validation.middleware.ts
  packages/@reporunner/auth/src/security/middleware/validation/ValidationMiddleware.ts
  packages/@reporunner/auth/src/security/rbac-engine.ts
  packages/@reporunner/auth/src/strategies/api-key-strategy.ts
  packages/@reporunner/auth/src/types/rbac-security-types.ts
  packages/@reporunner/enterprise/package.json
  packages/@reporunner/enterprise/src/multi-tenant/tenant-manager.ts
  packages/@reporunner/enterprise/src/rbac/advanced-rbac.ts
  packages/@reporunner/platform/tsconfig.json
  packages/@reporunner/services/tsconfig.json
  packages/backend/package.json
  packages/backend/src/database/types/entity-schemas.ts
  packages/backend/src/database/types/query-types.ts
  packages/backend/src/routes/marketplace.ts
  packages/frontend/src/app/components/Accessibility/AccessibilityProvider.tsx
  packages/frontend/src/app/components/Analytics/AnalyticsDashboard.tsx
  packages/frontend/src/app/components/PluginMarketplace/PluginMarketplace.tsx
  packages/frontend/src/app/components/PluginMarketplace/PublishPlugin.tsx
  packages/frontend/src/app/hooks/usePluginMarketplace.ts
  packages/frontend/src/app/utils/performance.tsx
  packages/shared/package.json
  packages/shared/src/constants/index.ts
  packages/shared/src/types/auth.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, frontend

fix: fixing errors
  .tsbuildinfo
  packages/backend/src/services/ExecutionMonitoringService.ts
  packages/backend/src/services/WorkflowSchedulerService.ts
  packages/backend/src/utils/jwt.ts
Due: backend

fix: frontend error reduction - add missing exports and fix imports
  .tsbuildinfo
  packages/frontend/package.json
  packages/frontend/src/app/components/Analytics/AnalyticsDashboard.tsx
  packages/frontend/src/hooks/useSecurity.ts
  packages/shared/src/types/index.ts
  packages/shared/src/validation/middleware.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

fix: Phase 1 - Add missing exports and fix Zod v3→v4 migration
  .tsbuildinfo
  packages/frontend/src/core/index.ts
  packages/frontend/src/core/schemas/BaseSchemas.ts
  packages/frontend/src/core/schemas/WorkflowSchemas.ts
  packages/frontend/src/core/services/index.ts
  packages/frontend/src/core/utils/index.ts
  packages/frontend/src/design-system/factories/PropertyRendererFactory.ts
  packages/frontend/src/ui/hooks/usePrevious.ts
  packages/frontend/src/ui/utils/styles.ts
  packages/shared/src/types/auth.ts
  packages/shared/src/types/execution.ts
Due: frontend

fix: all type check fixed
  packages/@reporunner/auth/src/security/middleware/auth/AuthMiddleware.ts
  packages/@reporunner/cli/src/cli.ts
  packages/frontend/src/app/components/Accessibility/AccessibilityProvider.tsx
  packages/frontend/src/app/components/Analytics/AnalyticsDashboard.tsx
  packages/frontend/src/design-system/generators/ComponentGenerator.tsx
Due: frontend

fix: biome configuration and file corruption fixes
  .tsbuildinfo
  biome.json
  package.json
  packages/@reporunner/auth/src/security/middleware/auth/AuthMiddleware.ts
  packages/@reporunner/validation/examples/basic-validation.ts
  packages/@reporunner/validation/examples/build-analysis-example.ts
  packages/@reporunner/validation/examples/bundle-analysis-example.ts
  packages/@reporunner/validation/examples/dev-experience-example.ts
  packages/@reporunner/validation/examples/memory-monitoring-example.ts
  packages/@reporunner/validation/examples/test-validation.ts
  packages/frontend/src/app/data/nodes/_template/actions.ts
  packages/frontend/src/app/data/nodes/_template/credentials.ts
  packages/frontend/src/app/data/nodes/_template/index.ts
  packages/frontend/src/app/data/nodes/_template/node.ts
  packages/frontend/src/app/data/nodes/_template/properties.ts
  packages/frontend/src/app/node-extensions/components/PropertyRenderers.tsx
  packages/frontend/src/design-system/generators/ComponentGenerator.tsx
  vitest.workspace.ts
Due: frontend

fix: all formats fixed
  html/assets/index-D_ryMEPs.js
  html/assets/index-X8b7Z_4p.css
  html/bg.png
  html/favicon.ico
  html/favicon.svg
  html/html.meta.json.gz
  html/index.html
Due: none

fix: errors fixing
  packages/@reporunner/@reporunner/services/tsconfig.tsbuildinfo
  packages/shared/package.json
  packages/shared/tsconfig.json
Due: none

chore: remove html build artifacts from git tracking and ignore future builds
  .biomeignore
  .gitignore
  html/assets/index-D_ryMEPs.js
  html/assets/index-X8b7Z_4p.css
  html/bg.png
  html/favicon.ico
  html/favicon.svg
  html/html.meta.json.gz
  html/index.html
Due: none

fix: resolve final 3 lint errors and unblock validation pipeline
  .tsbuildinfo
  biome.json
  package.json
  packages/@reporunner/auth/src/security/middleware/validation.middleware.ts
  packages/frontend/src/app/components/WorkflowEditor/DataInspector.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/design-system/components/DataVisualization/JsonView.tsx
  packages/shared/src/utils/auth-forms.ts
  packages/shared/src/validation/index.ts
  reports/duplication/html/index.html
  reports/duplication/html/jscpd-report.json
  reports/duplication/jscpd-report.json
Due: frontend
