Repository KlikkAI/reporunner: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, frontend, cli, sdk

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto
    patch:
      default:
        target: 70%
        threshold: 10%
        base: auto

flags:
  core:
    paths:
      - packages/core/
  backend:
    paths:
      - packages/backend/
  frontend:
    paths:
      - packages/frontend/
  cli:
    paths:
      - packages/cli/
  sdk:
    paths:
      - packages/sdk/

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name_prefix: core
        type: project
        target: 80%
      - name_prefix: backend
        type: project
        target: 85%
      - name_prefix: frontend
        type: project
        target: 75%
      - name_prefix: cli
        type: project
        target: 70%
      - name_prefix: sdk
        type: project
        target: 90%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

ignore:
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.d.ts"
  - "**/coverage/**"

fix: resolve critical TypeScript errors in frontend package
  packages/frontend/src/app/data/nodes/communication/gmail/actions.ts
  packages/frontend/src/core/nodes/definitions/Transform.node.ts
  packages/frontend/src/core/schemas/BaseSchemas.ts
  packages/frontend/src/core/schemas/CredentialSchemas.ts
  packages/frontend/src/core/schemas/WorkflowSchemas.ts
  packages/frontend/src/core/stores/leanWorkflowStore.ts
  packages/frontend/src/core/utils/expressionEvaluator.ts
  packages/frontend/src/core/utils/nodeVersioning.ts
  packages/frontend/src/core/utils/typeValidation.ts
Due: frontend

fix: resolve additional TypeScript errors in frontend package
  packages/frontend/src/core/api/AuthApiService.ts
  packages/frontend/src/core/api/WorkflowApiService.ts
  packages/frontend/src/core/nodes/definitions/Transform.node.ts
  packages/frontend/src/core/stores/credentialStore.ts
  packages/frontend/src/core/stores/leanWorkflowStore.ts
Due: frontend

fix: resolve critical TypeScript errors and API issues
  .husky/pre-commit
  package.json
  packages/frontend/src/app/components/WorkflowEditor/ExecutionToolbar.tsx
  packages/frontend/src/app/data/nodes/communication/gmail/actions.ts
  packages/frontend/src/core/types/execution.ts
Due: frontend

fix(frontend): resolve TypeScript errors in Gmail node files
  packages/frontend/src/app/components/ExecutionHistory/ExecutionHistory.tsx
  packages/frontend/src/app/components/WorkflowEditor/ExecutionToolbar.tsx
  packages/frontend/src/app/data/nodes/communication/gmail/actions.ts
  packages/frontend/src/app/data/nodes/communication/gmail/enhanced-node.ts
  packages/frontend/src/app/data/nodes/communication/gmail/gmail-context-resolver.ts
  packages/frontend/src/app/data/nodes/communication/gmail/gmail-demo.ts
  packages/frontend/src/app/hooks/useSmartMenuPosition.ts
  packages/frontend/src/app/node-extensions/AIAgentNodeBody.tsx
  packages/frontend/src/app/node-extensions/ComponentFactory.ts
  packages/frontend/src/app/node-extensions/ConditionNodeBody.tsx
  packages/frontend/src/core/schemas/WorkflowSchemas.ts
  packages/frontend/tsconfig.tsbuildinfo
Due: frontend

Create SECURITY.md
  SECURITY.md
Due: none

fix: errors
  .husky/pre-commit
  packages/frontend/src/app/components/WorkflowEditor/NodePropertyPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/BaseNode/NodeToolbar.tsx
  packages/frontend/src/app/components/WorkflowTester/WorkflowTester.tsx
  packages/frontend/src/app/data/nodes/communication/gmail/gmail-context-resolver.ts
  packages/frontend/src/app/hooks/useSmartMenuPosition.ts
  packages/frontend/src/app/node-extensions/AIAgentNodeBody.tsx
  packages/frontend/src/app/node-extensions/ComponentFactory.ts
  packages/frontend/src/app/node-extensions/ConditionNodeBody.tsx
  packages/frontend/src/app/node-extensions/bodies/DatabaseNodeBody.tsx
  packages/frontend/src/app/node-extensions/bodies/index.ts
  packages/frontend/src/app/node-extensions/components/AdvancedAssignmentCollection.tsx
  packages/frontend/src/app/node-extensions/components/ConditionalPropertyRenderer.tsx
  packages/frontend/src/app/node-extensions/components/EnhancedTransformPropertyPanel.tsx
  packages/frontend/src/app/node-extensions/components/PropertyField.tsx
  packages/frontend/src/app/node-extensions/components/PropertyRenderers.tsx
  packages/frontend/src/app/node-extensions/components/TransformAssignmentCollection.tsx
  packages/frontend/src/app/node-extensions/custom-nodes/GmailNodeBody.tsx
  packages/frontend/src/app/node-extensions/index.ts
  packages/frontend/src/app/node-extensions/nodeUiRegistry.ts
  packages/frontend/src/app/node-extensions/panels/AIAgentPropertiesPanel.tsx
  packages/frontend/src/app/node-extensions/themes/index.tsx
  packages/frontend/src/app/pages/Credentials.tsx
  packages/frontend/src/app/pages/Dashboard.tsx
  packages/frontend/src/app/pages/Executions.tsx
  packages/frontend/src/core/index.ts
  packages/frontend/src/core/nodes/registry.ts
  packages/frontend/src/core/nodes/types.ts
  packages/frontend/src/core/schemas/CredentialSchemas.ts
  packages/frontend/src/core/stores/credentialStore.ts
  packages/frontend/src/core/types/workflow.ts
  packages/frontend/src/design-system/components/common/PropertyField.tsx
  packages/frontend/src/design-system/components/nodes/DatabaseNode/DatabaseNodeBody.tsx
Due: frontend

fix: fix
  packages/backend/src/middleware/auth.ts
  packages/frontend/src/app/components/WorkflowEditor/DynamicPropertyRenderer.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodePropertyPanel.tsx
  packages/frontend/src/app/node-extensions/components/ConditionalPropertyRenderer.tsx
  packages/frontend/src/app/node-extensions/components/PropertyRenderers.tsx
  packages/frontend/src/app/node-extensions/nodeUiRegistry.ts
  packages/frontend/src/app/node-extensions/types.ts
  packages/frontend/src/app/pages/Dashboard.tsx
  packages/frontend/src/app/pages/Executions.tsx
  packages/frontend/src/app/pages/Settings.tsx
  packages/frontend/src/app/services/executionMonitor.ts
  packages/frontend/src/core/api/ApiClient.ts
  packages/frontend/src/core/index.ts
  packages/frontend/src/core/nodes/definitions/Ollama.node.ts
  packages/frontend/src/core/nodes/definitions/WebhookTrigger.node.ts
  packages/frontend/src/core/nodes/definitions/__tests__/Transform.node.test.ts
  packages/frontend/src/core/nodes/registry.ts
  packages/frontend/src/core/services/PerformanceService.ts
  packages/frontend/src/core/stores/leanWorkflowStore.ts
  packages/frontend/src/core/types/integration.ts
  packages/frontend/src/core/utils/expressionEvaluator.ts
  packages/frontend/src/core/utils/nodeVersioning.ts
  packages/frontend/src/core/utils/propertyEvaluator.ts
  packages/frontend/src/core/utils/transformNodeUtils.ts
  packages/frontend/src/core/utils/typeValidation.ts
  packages/frontend/src/core/utils/workflowExporter.ts
  packages/frontend/src/design-system/components/ErrorBoundary/GlobalErrorBoundary.tsx
  packages/frontend/src/design-system/components/common/PropertyField.tsx
  packages/frontend/src/design-system/components/nodes/DatabaseNode/DatabaseNodeBody.tsx
  packages/frontend/src/design-system/components/nodes/GmailNode/GmailPropertiesPanel.tsx
  packages/frontend/src/design-system/components/nodes/GmailNode/GmailTriggerNodeBody.tsx
  packages/frontend/src/design-system/themes/gmailTheme.ts
Due: backend, frontend

fix: fix
  packages/backend/src/models/Credentials.ts
  packages/frontend/tsconfig.tsbuildinfo
  pnpm-workspace.yaml
Due: backend, frontend

fix: fix errors
  packages/backend/src/models/Credentials.ts
  packages/frontend/index.html
Due: backend, frontend

fix: add missing tailwind and postcss config files
  packages/frontend/postcss.config.js
  packages/frontend/tailwind.config.js
Due: frontend

fix: workflow load fixes
  packages/frontend/src/app/components/WorkflowEditor/ExecutionToolbar.tsx
  packages/frontend/src/app/components/WorkflowTester/WorkflowTester.tsx
  packages/frontend/src/app/pages/Dashboard.tsx
  packages/frontend/src/core/api/WorkflowApiService.ts
  packages/frontend/src/core/schemas/WorkflowSchemas.ts
  packages/frontend/src/core/stores/leanWorkflowStore.ts
Due: frontend

feat: add comprehensive strategic documentation and planning
  docs/FEATURES_IMPLEMENTATION_PLAN.md
  docs/LARGE_SCALE_ARCHITECTURE.md
  docs/MIGRATION_IMPORT_RESOLUTION_PLAN.md
  package.json
  pnpm-lock.yaml
Due: none

Update README.md
  README.md
Due: none

fix: fix some errors
  README.md
Due: none

feat: editor analysis doc added
  docs/WORKFLOW_EDITOR_FEATURES_ANALYSIS.md
Due: none

feat: complete Phase 2.1 Container Node System
  docs/PHASE_1_HOTFIXES.md
  docs/PHASE_1_IMPLEMENTATION_SUMMARY.md
  packages/frontend/src/app/components/WorkflowEditor/AdvancedNodePanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AdvancedPropertyPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/EnhancedPropertyRenderer.tsx
  packages/frontend/src/app/components/WorkflowEditor/ExecutionPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/ExecutionStateOverlay.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/BaseNode/index.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/ContainerNode/ContainerNode.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/app/hooks/useContainerInteractions.ts
  packages/frontend/src/app/services/containerFactory.ts
  packages/frontend/src/app/services/intelligentAutoConnect.ts
  packages/frontend/src/core/services/containerConnectionValidator.ts
  packages/frontend/src/core/stores/enhancedExecutionStore.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
Due: frontend

feat: complete Phase 2 Advanced Workflow Management
  packages/frontend/src/app/components/WorkflowEditor/AIAssistantPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AdvancedNodePanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/DebugPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/workflowDebugger.ts
  packages/frontend/src/core/services/workflowOptimizer.ts
  packages/frontend/src/core/stores/aiAssistantStore.ts
Due: frontend

feat: Phase 3 - Real-time Collaboration System
  packages/frontend/package.json
  packages/frontend/src/app/components/WorkflowEditor/AIAssistantPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CollaborationPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CommentAnnotations.tsx
  packages/frontend/src/app/components/WorkflowEditor/UserPresenceOverlay.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/conflictResolver.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  pnpm-lock.yaml
Due: frontend

feat: Phase 4 - Advanced Analytics & Performance Monitoring
  packages/frontend/package.json
  packages/frontend/src/app/components/WorkflowEditor/AnalyticsDashboard.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/core/services/analyticsService.ts
  packages/frontend/src/core/services/costOptimizer.ts
  packages/frontend/src/core/services/performanceMonitor.ts
  packages/frontend/src/core/stores/analyticsStore.ts
  pnpm-lock.yaml
Due: frontend

feat: added new features
  packages/frontend/src/core/services/advancedTriggerSystem.ts
  packages/frontend/src/core/services/workflowScheduler.ts
Due: frontend

feat: Phase 5 - Advanced Workflow Automation & Scheduling
  packages/frontend/src/app/components/WorkflowEditor/ConditionalBranchingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/SchedulingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/core/services/workflowTemplates.ts
Due: frontend

feat: added new fetures
  packages/frontend/src/app/components/AIWorkflowStudio/AIWorkflowStudio.tsx
  packages/frontend/src/app/components/AuditDashboard/AuditDashboard.tsx
  packages/frontend/src/app/components/EnterpriseDashboard/EnterpriseDashboard.tsx
  packages/frontend/src/app/components/OrganizationManagement/OrganizationSettings.tsx
  packages/frontend/src/app/components/SecurityDashboard/SecurityDashboard.tsx
  packages/frontend/src/app/components/UserManagement/UserManagementPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AIAssistantPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/integrationMarketplaceService.ts
  packages/frontend/src/core/services/workflowTemplates.ts
  packages/frontend/src/core/stores/aiAssistantStore.ts
  packages/frontend/src/core/stores/collaborationStore.ts
  packages/frontend/src/core/stores/enhancedExecutionStore.ts
  packages/frontend/src/core/stores/leanWorkflowStore.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
Due: frontend

feat: Complete backend/frontend integration implementation
  .env.example
  README.md
  packages/backend/.env.example
  packages/backend/src/domains/executions/services/NodeExecutionService.ts
  packages/backend/src/domains/workflows/services/WorkFlowEngine.ts
  packages/backend/src/server.ts
  packages/frontend/.env.example
  packages/frontend/src/app/services/executionMonitor.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/stores/aiAssistantStore.ts
  packages/frontend/src/core/stores/enhancedExecutionStore.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
  pnpm-workspace.yaml
Due: backend, frontend

fix: build errors fixed
  packages/frontend/src/app/components/EnterpriseDashboard/EnterpriseDashboard.tsx
  packages/frontend/src/app/components/SecurityDashboard/SecurityDashboard.tsx
  packages/frontend/src/app/components/UserManagement/UserManagementPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AIAssistantPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AdvancedNodePanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/SchedulingPanel.tsx
Due: frontend

fix: removed unused imports and declerations
  packages/frontend/src/app/components/SecurityDashboard/SecurityDashboard.tsx
  packages/frontend/src/app/components/WorkflowEditor/AIAssistantPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/AnalyticsDashboard.tsx
  packages/frontend/src/app/components/WorkflowEditor/CollaborationPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CommentAnnotations.tsx
  packages/frontend/src/app/components/WorkflowEditor/ConditionalBranchingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/ContainerNodePanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/DataInspector.tsx
  packages/frontend/src/app/components/WorkflowEditor/DebugPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/EnhancedPropertyRenderer.tsx
  packages/frontend/src/app/components/WorkflowEditor/SchedulingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/UserPresenceOverlay.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/core/types/security.ts
Due: frontend

fix: resolve TypeScript errors in core services
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/aiModelService.ts
  packages/frontend/src/core/services/aiOrchestrationService.ts
  packages/frontend/src/core/services/analyticsService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/conflictResolver.ts
  packages/frontend/src/core/services/containerConnectionValidator.ts
  packages/frontend/src/core/services/containerExecutionService.ts
  packages/frontend/src/core/services/costOptimizer.ts
  packages/frontend/src/core/services/enhancedDebuggingService.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
Due: frontend

Fix TypeScript errors in component files
  packages/frontend/src/app/components/WorkflowEditor/CollaborationPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CommentAnnotations.tsx
  packages/frontend/src/app/components/WorkflowEditor/ConditionInputPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/ConditionalBranchingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/DataInspector.tsx
  packages/frontend/src/app/components/WorkflowEditor/DebugPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/EnhancedPropertyRenderer.tsx
Due: frontend

Fix EnhancedPropertyRenderer TypeScript errors
  packages/frontend/src/app/components/WorkflowEditor/EnhancedPropertyRenderer.tsx
Due: frontend

Fix aiAssistantStore TypeScript errors
  packages/frontend/src/core/stores/aiAssistantStore.ts
Due: frontend

Fix major TypeScript errors in components and data nodes
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/actions.ts
Due: frontend

Fix import paths and NodeProperty references
  packages/frontend/src/app/components/WorkflowEditor/EnhancedPropertyRenderer.tsx
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/credentials.ts
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/node.ts
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/properties.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/credentials.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/node.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/properties.ts
  packages/frontend/src/core/services/enterpriseSecurityService.ts
Due: frontend

Fix critical TypeScript errors across components and nodes
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/actions.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions.ts
Due: frontend

Fix EnhancedPropertyRenderer import typo
  packages/frontend/src/app/components/WorkflowEditor/EnhancedPropertyRenderer.tsx
Due: frontend

fix: fix errors
  packages/frontend/WORK_DONE_2025_01_09.md
  packages/frontend/src/app/components/WorkflowEditor/ExecutionPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/ContainerNode.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/ContainerNode/ContainerNode.tsx
  packages/frontend/src/app/components/WorkflowEditor/SchedulingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/actions.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions.ts
  packages/frontend/src/app/hooks/useContainerInteractions.ts
  packages/frontend/src/app/services/intelligentAutoConnect.ts
  packages/frontend/src/core/nodes/types.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
Due: frontend

fix: fix errors
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/actions.ts
  packages/frontend/src/app/hooks/useContainerInteractions.ts
  packages/frontend/src/app/services/executionMonitor.ts
  packages/frontend/src/core/services/advancedAuthService.ts
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/aiOrchestrationService.ts
  packages/frontend/src/core/types/dynamicProperties.ts
  packages/frontend/src/core/types/integration.ts
Due: frontend

fix: fix errors
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/node.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/node.ts
  packages/frontend/src/core/types/dynamicProperties.ts
Due: frontend

fix: fix errors
  packages/frontend/src/app/data/nodes/ai-ml/ml-pipeline/credentials.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions.ts
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/credentials.ts
  packages/frontend/src/core/types/dynamicProperties.ts
  packages/frontend/src/core/types/integration.ts
Due: frontend

fix: fix errors
  packages/frontend/src/app/data/nodes/ai-ml/model-trainer/actions.ts
  packages/frontend/src/core/index.ts
  packages/frontend/src/core/services/advancedAuthService.ts
  packages/frontend/src/core/services/advancedTriggerSystem.ts
  packages/frontend/src/core/services/aiAssistantService.ts
  packages/frontend/src/core/services/collaborationService.ts
  packages/frontend/src/core/services/containerConnectionValidator.ts
  packages/frontend/src/core/types/dynamicProperties.ts
Due: frontend
