Repository KlikkAI/reporunner: changes, and which Codecov flags are due for each by the changed paths.
All: core, backend, frontend, cli, sdk

refactor: minimize files
  OPTIMIZATION_GUIDE.md
  examples/optimized-auth-domain/controllers/AuthController.ts
  examples/optimized-auth-domain/repositories/UserRepository.ts
  examples/optimized-auth-domain/use-cases/GetUserByIdUseCase.ts
  packages/shared/package.json
  packages/shared/src/base/base-controller.ts
  packages/shared/src/base/base-repository.ts
  packages/shared/src/base/base-service.ts
  packages/shared/src/base/base-use-cases.ts
  packages/shared/src/base/index.ts
  packages/shared/src/base/interfaces.ts
  packages/shared/src/index.ts
  packages/shared/src/utilities/array-utils.ts
  packages/shared/src/utilities/conditional-utils.ts
  packages/shared/src/utilities/date-utils.ts
  packages/shared/src/utilities/index.ts
  packages/shared/src/utilities/json-utils.ts
  packages/shared/src/utilities/logging-utils.ts
  packages/shared/src/utilities/string-utils.ts
  packages/shared/tsconfig.json
  scripts/migrate-to-shared.ts
Due: none

feat: accomplished:
  .eslintrc.js
  .prettierrc.json
  README.md
  biome.enhanced.json
  biome.json
  eslint.config.js
  package.json
  packages/@reporunner/core/package.json
  refactoring-report.json
  reports/duplication/html/jscpd-report.json
  reports/duplication/jscpd-report.json
  scripts/README.md
  scripts/code-quality.json
  scripts/package-lock.json
  scripts/package.json
Due: none

fix: error fixing
  .tsbuildinfo
  CLAUDE.md
  package.json
  packages/@reporunner/api-types/src/auth.types/auth-enums.ts
  packages/@reporunner/api-types/src/auth.types/auth-requests.ts
  packages/@reporunner/api-types/src/auth.types/index.ts
  packages/@reporunner/api-types/src/auth.types/organization-types.ts
  packages/@reporunner/api-types/src/index.ts
  packages/@reporunner/api-types/src/workflow.types.ts
  packages/@reporunner/api-types/src/workflow.types/execution-types.ts
  packages/@reporunner/api-types/src/workflow.types/workflow-core-types.ts
  packages/@reporunner/api-types/src/workflow.types/workflow-schemas.ts
  packages/@reporunner/gateway/src/routing.ts
  packages/@reporunner/shared/configs/tsconfig.base.json
  packages/@reporunner/ui/src/index.ts
  packages/@reporunner/ui/src/types/index.ts
  packages/@reporunner/ui/src/utils/withHOC.tsx
  packages/@reporunner/ui/tsconfig.json
  packages/@reporunner/ui/tsup.config.ts
  packages/backend/src/models/comment/comment-middleware.ts
  packages/backend/src/models/execution/execution-methods.ts
  packages/backend/src/models/operation/operation-middleware.ts
  packages/backend/src/server.ts
Due: backend

fix: error fixing
  .tsbuildinfo
  package.json
  packages/@reporunner/constants/src/index/index.ts
  packages/@reporunner/constants/src/index/node-providers.ts
  packages/backend/src/services/monitoring/errortracker/ErrorTrackerService.ts
Due: backend

fix: 13 packages fixed
  .tsbuildinfo
  packages/@reporunner/ai/src/llm-manager.ts
  packages/@reporunner/ai/src/nodes/ai-chat-node.ts
  packages/@reporunner/ai/src/nodes/ai-completion-node.ts
  packages/@reporunner/ai/src/providers/anthropic-provider/anthropic-provider.ts
  packages/@reporunner/ai/src/providers/openai-provider/openai-provider.ts
  packages/@reporunner/ai/src/types/llm-types.ts
  packages/@reporunner/ai/src/types/vector-types.ts
  packages/@reporunner/ai/src/utils/text-splitter.ts
  packages/@reporunner/ai/src/vector-store/vector-store.ts
  packages/@reporunner/cli/src/commands/build.ts
  packages/@reporunner/cli/src/commands/node/command-handlers.ts
  packages/@reporunner/cli/src/commands/node/command-setup.ts
  packages/@reporunner/cli/src/commands/node/credential-templates.ts
  packages/@reporunner/cli/src/commands/node/file-generation.ts
  packages/@reporunner/cli/src/commands/node/node-templates.ts
  packages/@reporunner/ui/src/components/base/button.tsx
  packages/@reporunner/ui/src/components/form/field.tsx
  packages/@reporunner/ui/src/components/overlay/dialog.tsx
  packages/@reporunner/workflow-engine/src/events/event-bus.ts
  packages/@reporunner/workflow-engine/src/execution/execution-engine.ts
  packages/@reporunner/workflow-engine/src/queue/queue-manager.ts
  packages/@reporunner/workflow-engine/src/types/workflow-types.ts
  packages/@reporunner/workflow-engine/src/workers/worker-manager.ts
  packages/@reporunner/workflow-engine/src/workflow-engine.ts
  packages/@reporunner/workflow-engine/tsup.config.ts
  packages/@reporunner/workflow/src/execution/NodeExecutor.ts
  packages/@reporunner/workflow/src/execution/QueueManager.ts
  packages/@reporunner/workflow/src/execution/WorkflowEngine.ts
  packages/@reporunner/workflow/src/nodes/BaseNode.ts
  packages/@reporunner/workflow/src/nodes/NodeRegistry.ts
  packages/@reporunner/workflow/src/types/workflow-types.ts
  packages/frontend/src/app/components/WorkflowEditor/index.ts
Due: frontend

fix: 14 packages fixed
  .tsbuildinfo
  packages/@reporunner/api-types/tsconfig.json
  packages/@reporunner/workflow-engine/src/types/workflow-types.ts
  packages/@reporunner/workflow-engine/tsconfig.json
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.v1.tsx
  packages/frontend/src/app/node-extensions/components/ConditionalPropertyRenderer.tsx
  packages/frontend/src/app/pages/APIReference.tsx
  packages/frontend/src/app/pages/About.tsx
Due: frontend

fix: errors fix 15 packages
  .tsbuildinfo
  packages/@reporunner/ui/src/utils/withHOC.tsx
  packages/frontend/src/app/components/Landing/FeatureShowcase.tsx
  packages/frontend/src/app/components/Landing/Header.tsx
  packages/frontend/src/app/components/Landing/IntegrationEcosystem.tsx
  packages/frontend/src/app/components/Landing/PricingSection.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.v1.tsx
  packages/frontend/src/app/data/nodes/communication/gmail/index.ts
  packages/frontend/src/app/node-extensions/index.ts
  packages/frontend/src/app/pages/APIReference.tsx
  packages/frontend/src/app/pages/About.tsx
  packages/frontend/src/app/pages/Contact.tsx
  packages/frontend/src/app/pages/Documentation.tsx
  packages/frontend/src/app/pages/Enterprise.tsx
  packages/frontend/src/app/pages/Features.tsx
  packages/frontend/src/app/pages/IntegrationsPage.tsx
  packages/frontend/src/app/pages/PricingPage.tsx
  packages/frontend/src/app/pages/Privacy.tsx
  packages/frontend/src/app/pages/SelfHosted.tsx
  packages/frontend/src/app/pages/Terms.tsx
  packages/frontend/src/core/api/ApiClient.ts
  packages/frontend/src/core/api/index.ts
  packages/frontend/src/core/index.ts
  packages/frontend/src/core/nodes/definitions/index.ts
  packages/frontend/src/core/services/LoggingService.ts
  packages/frontend/src/core/services/PerformanceService.ts
  packages/frontend/src/core/services/config/ConfigService.ts
  packages/frontend/src/core/stores/index.ts
  packages/frontend/src/core/types/index.ts
  packages/frontend/tsconfig.json
Due: frontend

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: added agents
  .claude/agents/code-deduplication-validator.md
  .claude/agents/code-quality-checker.md
  .claude/agents/credential-security-auditor.json
  .claude/agents/documentation-sync-validator.json
  .claude/agents/node-integration-creator.json
Due: none

refactor: duplication removed
  .tsbuildinfo
  FIRST_MIGRATION_SUCCESS.md
  FRONTEND_MIGRATION_STATUS.md
  LOGGER_SPRINT_COMPLETE.md
  MIGRATION_GUIDE.md
  MIGRATION_PROGRESS_REVIEW.md
  SESSION_SUMMARY_2025-09-30.md
  WORKFLOW_STORE_MIGRATION.md
  packages/@reporunner/core/README.md
  packages/@reporunner/core/src/index.ts
  packages/@reporunner/types/README.md
  packages/@reporunner/types/package.json
  packages/@reporunner/types/src/common/index.ts
  packages/@reporunner/types/src/credential/index.ts
  packages/@reporunner/types/src/execution/index.ts
  packages/@reporunner/types/src/index.ts
  packages/@reporunner/types/src/integration/index.ts
  packages/@reporunner/types/src/node/index.ts
  packages/@reporunner/types/src/user/index.ts
  packages/@reporunner/types/src/workflow/index.ts
  packages/@reporunner/types/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/app/components/UserManagement/UserManagementPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.legacy.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.tsx
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.v1.tsx
  packages/frontend/src/app/pages/Executions.tsx
  packages/frontend/src/app/pages/Integrations.tsx
  packages/frontend/src/app/pages/Settings.tsx
  packages/frontend/src/app/pages/WorkflowEditor.tsx
  packages/frontend/src/app/services/integrationService.ts
  packages/frontend/src/core/services/analyticsService.ts
  packages/frontend/src/core/services/enhancedDebuggingService.ts
  packages/frontend/src/core/services/workflowScheduler.ts
  packages/frontend/src/core/types/frontend-auth.ts
  packages/frontend/src/core/types/frontend-credentials.ts
  packages/frontend/src/core/utils/apiErrorHandler.ts
  pnpm-lock.yaml
Due: frontend

security: fix 17 vulnerabilities (1 critical, 10 high, 6 moderate)
  .claude/agents/security-dependabot-checker.json
  .github/dependabot.yml
  .github/workflows/security-audit.yml
  .tsbuildinfo
  SECURITY_AUDIT_REPORT.md
  SECURITY_FIXES_APPLIED.md
  packages/@reporunner/ai/package.json
  packages/@reporunner/api/package.json
  packages/@reporunner/auth/package.json
  packages/@reporunner/database/package.json
  packages/@reporunner/security/package.json
  packages/frontend/src/app/components/WorkflowEditor/EmailOutputPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/NodeTypes/ContainerNode.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useAIAssistantStore.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useAnalyticsStore.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useCollaborationStore.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useEdgesState.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useEvent.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useExecutionMonitor.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useMove.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useNodesState.ts
  packages/frontend/src/app/components/WorkflowEditor/index/hooks/useRBACStore.ts
  packages/frontend/src/app/components/WorkflowEditor/index/index.ts
  packages/frontend/src/app/components/WorkflowEditor/index/index.tsx
  packages/frontend/src/core/types/authentication.ts
  packages/frontend/src/core/types/credentials.ts
  packages/frontend/src/design-system/components/UniversalForm.tsx
  packages/frontend/src/design-system/factories/ComponentFactory.ts
  packages/frontend/src/design-system/factories/PropertyRendererFactory.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdks/go/go.mod
  sdks/go/go.sum
  sdks/python/pyproject.toml
Due: frontend

fix(types): resolve TypeScript compilation errors
  packages/@reporunner/types/src/credential/index.ts
  packages/@reporunner/types/src/node/index.ts
Due: none

fix(backend): resolve 18 TypeScript errors - Zod v4, duplicates, and unused imports
  packages/backend/src/domains/workflows/validators/workflowValidators.ts
  packages/backend/src/services/monitoring/performancemonitor/PerformanceMonitorService.ts
Due: backend

fix: errors fixing
  .tsbuildinfo
  packages/@reporunner/api-types/src/workflow.types.ts
  packages/@reporunner/core/package.json
  packages/@reporunner/core/src/index.ts
  packages/@reporunner/core/src/middleware/BaseValidationMiddleware.ts
  packages/backend/package.json
  packages/backend/src/config/ConfigService.ts
  packages/backend/src/domains/auth/repositories/UserRepository.ts
  packages/backend/src/domains/auth/services/AuthService.ts
  packages/backend/src/domains/auth/validators/authValidators.ts
  packages/backend/src/domains/collaboration/controllers/CommentController.ts
  packages/backend/src/domains/collaboration/controllers/SessionController.ts
  packages/backend/src/domains/collaboration/routes/collaborationRoutes.ts
  packages/backend/src/domains/credentials/repositories/CredentialRepository.ts
  packages/backend/src/domains/credentials/services/CredentialService.ts
  packages/backend/src/domains/executions/repositories/ExecutionRepository.ts
  packages/backend/src/domains/executions/services/NodeExecutionService.ts
  packages/backend/src/domains/oauth/services/GmailService.ts
  packages/backend/src/domains/oauth/services/OAuthService.ts
  packages/backend/src/domains/workflows/interfaces/index.ts
  packages/backend/src/domains/workflows/repositories/WorkflowRepository.ts
  packages/backend/src/domains/workflows/services/WorkFlowEngine.ts
  packages/backend/src/domains/workflows/validators/workflowValidators.ts
  packages/backend/src/middleware/enhancedErrorHandlers.ts
  packages/backend/src/services/debugging/DebugTools.ts
  packages/backend/src/services/logging/Logger.ts
  pnpm-lock.yaml
Due: backend

refactor: update repository interfaces and error tracking service
  .tsbuildinfo
  packages/backend/src/base/BaseRepository.ts
  packages/backend/src/services/monitoring/ErrorTracker.ts
  packages/backend/src/services/monitoring/PerformanceMonitor.ts
  packages/backend/src/services/permission/domain/repositories/IPermissionRepository.ts
  packages/backend/src/services/versioncontrol/domain/repositories/IVersionControlRepository.ts
  packages/backend/src/shared/interfaces/IBaseRepository.ts
Due: backend

fix(monorepo): resolve 200+ TypeScript errors across all packages
  .tsbuildinfo
  packages/@reporunner/ai/src/nodes/ai-chat-node.ts
  packages/@reporunner/ai/src/nodes/ai-completion-node.ts
  packages/@reporunner/ai/src/providers/anthropic-provider/anthropic-provider.ts
  packages/@reporunner/api-types/tsconfig.json
  packages/@reporunner/api/src/controllers/workflow-controller.ts
  packages/@reporunner/api/tsconfig.json
  packages/@reporunner/core/src/utils/logger.ts
  packages/@reporunner/security/src/middleware/auth/services/TokenService.ts
  packages/backend/src/config/ConfigService.ts
  packages/backend/src/domains/auth/controllers/AuthController.ts
  packages/backend/src/domains/auth/repositories/UserRepository.ts
  packages/backend/src/domains/auth/services/AuthService.ts
  packages/backend/src/domains/collaboration/controllers/CommentController.ts
  packages/backend/src/domains/collaboration/controllers/SessionController.ts
  packages/backend/src/domains/collaboration/services/CollaborationService.ts
  packages/backend/src/domains/credentials/controllers/CredentialController.ts
  packages/backend/src/domains/credentials/services/CredentialService.ts
  packages/backend/src/domains/executions/controllers/NodeExecutionController.ts
  packages/backend/src/domains/executions/repositories/ExecutionRepository.ts
  packages/backend/src/domains/executions/services/NodeExecutionService.ts
  packages/backend/src/domains/oauth/controllers/OAuthController.ts
  packages/backend/src/domains/oauth/services/OAuthService.ts
  packages/backend/src/domains/workflows/repositories/WorkflowRepository.ts
  packages/backend/src/domains/workflows/services/WorkFlowEngine.ts
  packages/backend/src/domains/workflows/services/WorkflowService.ts
  packages/backend/src/middleware/auth.ts
  packages/backend/src/middleware/debugging.ts
  packages/backend/src/services/debugging/DebugTools.ts
  packages/backend/src/services/logging/Logger.ts
Due: backend

fix(dev-tools): resolve 5 TypeScript unused variable/method errors
  packages/@reporunner/dev-tools/src/cli.ts
  packages/@reporunner/dev-tools/src/index.ts
Due: none

fix: fixing errrors
  .tsbuildinfo
  packages/frontend/package.json
  packages/frontend/src/app/node-extensions/themes/index.ts
  packages/frontend/src/app/services/index.ts
  packages/frontend/src/core/types/authentication/index.ts
  packages/frontend/src/core/types/credentials/index.ts
  packages/frontend/src/core/utils/typeValidation.ts
  packages/frontend/src/design-system/components/common/EnhancedNodeToolbar.tsx
  packages/frontend/src/design-system/components/common/PropertyField.tsx
  packages/frontend/src/design-system/components/index.ts
  packages/frontend/src/design-system/themes/index.ts
  pnpm-lock.yaml
Due: frontend

fix: errors fixing
  .tsbuildinfo
  packages/@reporunner/api-types/package.json
  packages/@reporunner/api-types/tsconfig.json
  packages/@reporunner/api/src/server.ts
  packages/@reporunner/core/package.json
  packages/@reporunner/core/tsconfig.json
  packages/frontend/src/app/components/WorkflowEditor/AnalyticsDashboard.tsx
  packages/frontend/src/app/components/WorkflowEditor/CollaborationPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/CommentAnnotations.tsx
  packages/frontend/src/app/components/WorkflowEditor/ConditionalBranchingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/ExecutionToolbar.tsx
  packages/frontend/src/app/components/WorkflowEditor/SchedulingPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/TriggerPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/UserPresenceOverlay.tsx
  packages/frontend/src/app/components/WorkflowEditor/WorkflowTemplatesPanel.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.tsx
  packages/frontend/src/app/components/WorkflowTester/WorkflowTester.tsx
  packages/frontend/src/app/data/nodes/communication/gmail/enhanced-node/index.ts
  packages/frontend/src/app/data/nodes/communication/gmail/enhanced-properties/index.ts
  packages/frontend/src/app/data/nodes/communication/gmail/properties/index.ts
  packages/frontend/src/app/node-extensions/components/ConditionalPropertyRenderer.tsx
  packages/frontend/src/app/pages/WorkflowEditor.tsx
  packages/frontend/src/core/schemas/BaseSchemas.ts
  packages/frontend/src/core/schemas/WorkflowSchemas.ts
  packages/frontend/src/core/schemas/index.ts
  packages/frontend/src/core/types/dynamicProperties.ts
  packages/frontend/src/core/utils/enhancedPropertyEvaluator.ts
  packages/frontend/src/design-system/components/data/SharedDataVisualizationPanel.tsx
  packages/frontend/src/design-system/components/index.ts
  packages/frontend/src/design-system/components/layout/BasePage.tsx
  packages/frontend/src/design-system/factories/ComponentFactory.ts
  packages/frontend/src/design-system/generators/PageGenerator.tsx
  packages/frontend/src/design-system/index.ts
Due: frontend

fix: fix lints
  .tsbuildinfo
  biome.json
  development/scripts/reset.js
  packages/@reporunner/ai/src/ai-registry.ts
  packages/frontend/src/app/components/WorkflowEditor/index.ts
  packages/frontend/src/app/data/nodes/communication/gmail/enhanced-node/index.ts
  packages/frontend/src/app/data/nodes/communication/gmail/properties/index.ts
  packages/frontend/src/app/node-extensions/components/ConditionalPropertyRenderer.tsx
  packages/frontend/src/app/pages/WorkflowEditor.tsx
  sdks/typescript/src/client/WebSocketClient.ts
  sdks/typescript/src/client/reporunnerclient/ReporunnerClient-part1.ts
  sdks/typescript/src/client/reporunnerclient/ReporunnerClient-part2.ts
  sdks/typescript/src/client/reporunnerclient/ReporunnerClient-part3.ts
  sdks/typescript/src/client/reporunnerclient/ReporunnerClient.ts
  sdks/typescript/src/client/reporunnerclient/index.ts
Due: frontend

fix: errors lints fixing
  .tsbuildinfo
  biome.json
  packages/@reporunner/ai/src/nodes/ai-chat-node.ts
  packages/@reporunner/ai/src/nodes/ai-completion-node.ts
  packages/@reporunner/ai/src/providers/anthropic-provider/anthropic-provider.ts
  packages/@reporunner/api/src/controllers/workflow-controller.ts
  packages/@reporunner/core/src/utils/logger.ts
  packages/@reporunner/dev-tools/src/index.ts
  packages/@reporunner/security/src/middleware/auth/services/TokenService.ts
  packages/@reporunner/services/notification-service/src/index/webhook-providers.ts
  packages/backend/src/base/BaseController.ts
  packages/backend/src/config/ConfigService.ts
  packages/backend/src/domains/auth/controllers/AuthController.ts
  packages/backend/src/domains/auth/services/AuthService.ts
  packages/backend/src/domains/auth/validators/authValidators.ts
  packages/backend/src/domains/collaboration/controllers/CommentController.ts
  packages/backend/src/domains/collaboration/controllers/SessionController.ts
  packages/backend/src/middleware/auth.ts
  packages/backend/src/utils/response.ts
  packages/frontend/src/app/components/WorkflowEditor/CredentialModal.v1.tsx
  packages/frontend/src/app/components/WorkflowEditor/index.ts
  packages/frontend/src/app/node-extensions/components/ConditionalPropertyRenderer.tsx
  packages/frontend/src/app/node-extensions/themes/index.ts
  packages/frontend/src/app/services/index.ts
  packages/frontend/src/core/schemas/index.ts
  packages/frontend/src/core/services/config/ConfigService.ts
  packages/frontend/src/core/stores/rbacStore/index.ts
  packages/frontend/src/core/stores/rbacstore/index.ts
  packages/frontend/src/design-system/generators/PageGenerator.tsx
  packages/frontend/src/design-system/index.ts
  packages/frontend/src/design-system/themes/index.ts
  sdks/typescript/src/client/ReporunnerClient.ts
Due: backend, frontend

fix: some major bug fixes
  packages/frontend/src/core/schemas/BaseSchemas.ts
  packages/frontend/src/core/services/PerformanceService.ts
  packages/frontend/src/core/services/analyticsService.ts
  packages/frontend/src/core/services/config/ConfigService.ts
Due: frontend

Path conditions:
  core: any of: packages/core/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  backend: any of: packages/backend/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  frontend: any of: packages/frontend/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
  sdk: any of: packages/sdk/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/coverage/**
