Repository KlikkAI/reporunner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:fix {staged_files}
  stage_fixed: true

format:
  run: pnpm format {staged_files}
  stage_fixed: true

docs: consolidate and reorganize documentation structure
  CLAUDE.md
  COMPLETION_ROADMAP.md
  DOCUMENTATION.md
  README.md
  docs/deployment/README.md
  docs/deployment/docker/COMPARISON.md
  docs/deployment/docker/OPENSOURCE_GUIDE.md
  docs/deployment/docker/README.md
  docs/history/DOCUMENTATION_CONSOLIDATION_2025.md
  docs/history/docker/FIXES.md
  docs/history/maintenance/IGNORE_FILES_UPDATE.md
Due: format

fix: align backend routes, ports, and API configuration
  .env.example
  docker-compose.yml
  packages/backend/src/routes/index.ts
  packages/backend/src/server.ts
  packages/frontend/src/core/config/environment.ts
Due: lint, format

feat: implement complete Credentials infrastructure (Phase 4)
  packages/backend/src/domains/credentials/routes/credentialRoutes.ts
  packages/backend/src/domains/credentials/services/CredentialService.ts
  packages/backend/src/models/Credential.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/utils/crypto.ts
Due: lint, format

feat: add frontend API services for Marketplace and Workflow Optimization (Phase 5)
  packages/frontend/src/core/api/MarketplaceApiService.ts
  packages/frontend/src/core/api/WorkflowOptimizationApiService.ts
Due: lint, format

feat: improve Docker service orchestration with health-based dependencies (Phase 6)
  docker-compose.yml
Due: none

fix: complete platform alignment - Docker module resolution
  Dockerfile.backend
  docs/history/sessions/PLATFORM_ALIGNMENT_COMPLETE.md
  packages/@reporunner/ai/package.json
  packages/@reporunner/auth/package.json
  packages/@reporunner/enterprise/package.json
  packages/@reporunner/integrations/package.json
  packages/@reporunner/platform/package.json
  packages/@reporunner/services/package.json
  packages/@reporunner/validation/package.json
  packages/@reporunner/workflow/package.json
Due: format

feat: add comprehensive documentation system with markdown rendering
  packages/frontend/package.json
  packages/frontend/src/app/App.tsx
  packages/frontend/src/app/components/Documentation/DocsLayout.tsx
  packages/frontend/src/app/components/Documentation/DocsSidebar.tsx
  packages/frontend/src/app/components/Documentation/MarkdownRenderer.tsx
  packages/frontend/src/app/components/Documentation/index.ts
  packages/frontend/src/app/pages/Documentation.tsx
  packages/frontend/src/app/pages/docs/CloudProviders.tsx
  packages/frontend/src/app/pages/docs/DockerDeployment.tsx
  packages/frontend/src/app/pages/docs/GettingStarted.tsx
  packages/frontend/src/app/pages/docs/IntegrationsGuide.tsx
  packages/frontend/src/app/pages/docs/KubernetesDeployment.tsx
  packages/frontend/src/app/pages/docs/PluginMarketplaceAPI.tsx
  packages/frontend/src/app/pages/docs/WorkflowExamples.tsx
  packages/frontend/src/app/pages/docs/WorkflowOptimizationAPI.tsx
  packages/frontend/src/app/pages/docs/index.ts
  packages/frontend/src/vite-env.d.ts
  pnpm-lock.yaml
Due: lint, format

fix: resolve header dropdown disappearing on hover
  packages/frontend/src/app/components/Landing/Header.tsx
Due: lint, format

fix: add HelmetProvider to resolve documentation pages crash
  packages/frontend/src/main.tsx
Due: lint, format

docs: add comprehensive Reporunner to KlikkAI rebranding plan
  REBRANDING_PLAN.md
Due: format

chore: complete KlikkFlow rebranding
  .biomeignore
  .prettierignore
  .size-limit.json
  .tsbuildinfo
  LICENSE
  examples/optimized-auth-domain/controllers/AuthController.ts
  examples/optimized-auth-domain/repositories/UserRepository.ts
  examples/optimized-auth-domain/use-cases/GetUserByIdUseCase.ts
  examples/refactored-tenant-service/bootstrap/index.ts
  jest.config.js
  playwright.config.ts
  pnpm-lock.yaml
  reports/duplication/html/index.html
  reports/duplication/html/js/prism.js
  reports/duplication/html/jscpd-report.json
  reports/duplication/html/styles/prism.css
  reports/duplication/html/styles/tailwind.css
  reports/duplication/jscpd-report.json
  scripts/install.sh
  tests/README.md
  tests/setup.ts
  vitest.config.ts
  vitest.workspace.ts
Due: lint, format

docs: add comprehensive post-merge deployment guide
  POST_MERGE_GUIDE.md
Due: format

chore: add deployment scripts and clean up build artifacts
  .tsbuildinfo
  DEPLOYMENT_COMPLETE_SUMMARY.md
  DEPLOYMENT_STATUS.md
  DEPLOY_KLIKKFLOW.sh
  EXECUTE_NOW.sh
  IMMEDIATE_ACTIONS.md
  NPM_ORG_SETUP.md
  RESUME_HERE.md
  SESSION_LOG.md
  START_HERE.md
  build-docker-images.sh
  packages/@klikkflow/@reporunner/services/tsconfig.tsbuildinfo
  packages/shared/src/types/auth.d.ts
  packages/shared/src/types/auth.d.ts.map
  packages/shared/src/types/auth.js
  packages/shared/src/types/auth.js.map
  publish-packages-retry.sh
Due: lint, format

fix: include documentation in frontend Docker build
  .dockerignore
  Dockerfile.frontend
Due: none

docs: add KlikkFlow rebranding completion summary
  REBRANDING_COMPLETE.md
Due: format

docs: add Docker Hub deployment to completion summary
  REBRANDING_COMPLETE.md
Due: format

docs: consolidate and organize documentation structure
  docs/history/deployment/DEPLOYMENT_COMPLETE_SUMMARY.md
  docs/history/deployment/DEPLOYMENT_STATUS.md
  docs/history/deployment/IMMEDIATE_ACTIONS.md
  docs/history/deployment/NPM_ORG_SETUP.md
  docs/history/deployment/POST_MERGE_GUIDE.md
  docs/history/deployment/README.md
  docs/history/deployment/RESUME_HERE.md
  docs/history/deployment/SESSION_LOG.md
  docs/history/deployment/START_HERE.md
  docs/history/planning/README.md
  docs/history/planning/REBRANDING_PLAN.md
  infrastructure/scripts/deployment/DEPLOY_KLIKKFLOW.sh
  infrastructure/scripts/deployment/EXECUTE_NOW.sh
  infrastructure/scripts/deployment/README.md
  infrastructure/scripts/deployment/build-docker-images.sh
  infrastructure/scripts/deployment/docker-copy-packages.sh
  infrastructure/scripts/deployment/publish-packages-retry.sh
Due: format

fix: resolve backend TypeScript compilation errors
  .tsbuildinfo
  packages/backend/src/domains/credentials/services/CredentialService.ts
  packages/backend/tsconfig.json
Due: lint, format

fix: prevent browser opening in CI during docs generation
  .github/workflows/docs.yml
Due: none

fix: docker deployment configuration for local environment
  Dockerfile.backend
  packages/@klikkflow/core/src/repository/BaseRepository.ts
Due: lint, format

chore: move completion documentation to history directory
  docs/history/deployment/REBRANDING_COMPLETE.md
Due: format

fix: update MongoDB exporter to Bitnami image
  docker-compose.yml
  docs/history/deployment/VPS_PRODUCTION_DEPLOYMENT_2025-10-24.md
Due: format

chore: remove deprecated version field from docker-compose files
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.simple.yml
  infrastructure/docker/docker-compose.monitoring.yml
  infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/logging/docker-compose.yml
  infrastructure/monitoring/docker-compose.yml
  infrastructure/observability/docker-compose.yml
Due: none

feat: add VPS deployment with self-hosted runner and blue-green strategy
  .env.template
  .github/workflows/docker-publish.yml
  .github/workflows/vps-deploy.yml
  docker-compose.blue.yml
  docker-compose.green.yml
  docs/deployment/BLUE_GREEN_DEPLOYMENT.md
  docs/deployment/VPS_SETUP.md
  nginx/nginx-lb.conf
  scripts/vps/deploy.sh
  scripts/vps/generate-env.sh
  scripts/vps/health-check.sh
  scripts/vps/rollback.sh
  scripts/vps/setup-runner.sh
Due: format

chore: trigger initial VPS deployment with all secrets configured
  .github/DEPLOYMENT_TRIGGER.md
Due: format

fix: update Docker Hub username from klikkflow to klikkai
  .github/workflows/docker-publish.yml
  .github/workflows/vps-deploy.yml
Due: none

fix: use docker compose v2 command instead of docker-compose
  scripts/vps/deploy.sh
Due: none

fix: fix
  docker-compose.blue.yml
  docker-compose.green.yml
Due: none

feat: fix button navigation across landing pages
  .tsbuildinfo
  docs/history/deployment/VPS_PRODUCTION_DEPLOYMENT_2025-10-25.md
  packages/@klikkflow/@klikkflow/services/tsconfig.tsbuildinfo
  packages/frontend/src/app/App.tsx
  packages/frontend/src/app/components/Documentation/DocsLayout.tsx
  packages/frontend/src/app/components/Integrations/Landing/CallToAction.tsx
  packages/frontend/src/app/components/Integrations/Landing/ComparisonTable.tsx
  packages/frontend/src/app/components/Integrations/Landing/CompetitiveAdvantage.tsx
  packages/frontend/src/app/components/Integrations/Landing/EnterpriseFeatures.tsx
  packages/frontend/src/app/components/Integrations/Landing/FeatureShowcase.tsx
  packages/frontend/src/app/components/Integrations/Landing/Footer.tsx
  packages/frontend/src/app/components/Integrations/Landing/Header.tsx
  packages/frontend/src/app/components/Integrations/Landing/HeroSection.tsx
  packages/frontend/src/app/components/Integrations/Landing/IntegrationEcosystem.tsx
  packages/frontend/src/app/components/Integrations/Landing/PricingSection.tsx
  packages/frontend/src/app/components/Integrations/Landing/SocialProof.tsx
  packages/frontend/src/app/components/Integrations/Landing/featureshowcase/index.ts
  packages/frontend/src/app/components/Integrations/Landing/header/hooks/useEnter.ts
  packages/frontend/src/app/components/Integrations/Landing/header/hooks/useLeave.ts
  packages/frontend/src/app/components/Integrations/Landing/header/hooks/useLocation.ts
  packages/frontend/src/app/components/Integrations/Landing/header/index.ts
  packages/frontend/src/app/components/Integrations/Landing/integrationecosystem/index.ts
  packages/frontend/src/app/components/Integrations/Landing/pricingsection/index.ts
  packages/frontend/src/app/components/ScrollToTop.tsx
  packages/frontend/src/app/pages/APIReference.tsx
  packages/frontend/src/app/pages/About.tsx
  packages/frontend/src/app/pages/Contact.tsx
  packages/frontend/src/app/pages/Documentation.tsx
  packages/frontend/src/app/pages/Enterprise.tsx
  packages/frontend/src/app/pages/Features.tsx
  packages/frontend/src/app/pages/IntegrationsPage.tsx
  packages/frontend/src/app/pages/LandingPage.tsx
  packages/frontend/src/app/pages/Login.tsx
  packages/frontend/src/app/pages/PricingPage.tsx
  packages/frontend/src/app/pages/Privacy.tsx
  packages/frontend/src/app/pages/Register.tsx
  packages/frontend/src/app/pages/Roadmap.tsx
  packages/frontend/src/app/pages/SelfHosted.tsx
  packages/frontend/src/app/pages/Terms.tsx
Due: lint, format

fix: resolve registration schema validation issue
  packages/frontend/src/core/api/AuthApiService.ts
Due: lint, format

fix: add rememberMe field to backend login validation schema
  packages/backend/src/domains/auth/validators/authValidators.ts
Due: lint, format

fix: replace all any types with proper TypeScript types in AuthApiService
  packages/frontend/src/core/api/AuthApiService.ts
Due: lint, format

fix: authentication and workflow navigation issues
  packages/backend/src/domains/auth/services/AuthService.ts
  packages/backend/src/utils/jwt.ts
  packages/frontend/src/app/components/Layout/ResponsiveLayout.tsx
  packages/frontend/src/app/pages/Dashboard.tsx
  packages/frontend/src/app/pages/EnhancedDashboard.tsx
  packages/frontend/src/core/stores/leanWorkflowStore.ts
  packages/frontend/src/design-system/generators/PageGenerator.tsx
Due: lint, format

fix: add JWT authentication debugging and update Docker backup service
  Dockerfile.backup
  packages/backend/src/middleware/auth.ts
Due: lint, format

docs: add VPS monitoring subdomains nginx configuration
  docs/history/deployment/VPS_MONITORING_SUBDOMAINS_2025-10-25.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,tsx,vue}
  format: any of: *.{js,ts,tsx,vue,json,md}
