Repository KlikkAI/reporunner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:fix {staged_files}
  stage_fixed: true

format:
  run: pnpm format {staged_files}
  stage_fixed: true

fix: correct Zod v4 types in createConditionalSchema
  packages/shared/src/validation/index.ts
Due: lint, format

chore: add test performance data to .gitignore
  .gitignore
Due: none

fix: errors are fixed
  .tsbuildinfo
  packages/@reporunner/@reporunner/services/tsconfig.tsbuildinfo
  reports/duplication/jscpd-report.json
Due: format

feat: docker build improve
  .dockerignore
  CLAUDE.md
  DOCKER_FIXES.md
  DOCKER_OPENSOURCE_GUIDE.md
  DOCKER_OPENSOURCE_SUMMARY.md
  Dockerfile
  Dockerfile.dev
  ENV.example
  docker-compose.prod.yml
  docker-copy-packages.sh
Due: format

fix: align with workspaces
  Dockerfile
  README.md
  package.json
  pnpm-workspace.yaml
  tsconfig.base.json
Due: format

fix: pnpm workspace fix
  .npmrc
  pnpm-workspace.yaml
Due: none

fix: some more issue fixed and warning removed
  .tsbuildinfo
  package.json
  packages/@reporunner/@reporunner/services/tsconfig.tsbuildinfo
  packages/@reporunner/ai/src/base/ai-provider.ts
  packages/@reporunner/ai/src/index.ts
  packages/@reporunner/auth/src/index.ts
  packages/@reporunner/enterprise/src/rbac/advanced-rbac.ts
  packages/backend/src/services/TriggerSystemService.ts
  packages/frontend/src/core/schemas/WorkflowSchemas.ts
  packages/shared/src/validation/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: lint, format

chore: dependency updates and cleanup
  .gitignore
  development/scripts/prepare.js
  packages/@reporunner/ai/tsup.config.bundled_ohigf2zhuln.mjs
  packages/@reporunner/auth/tsup.config.bundled_ysve31o0hlp.mjs
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

refactor(auth): reduce cognitive complexity across middleware
  packages/@reporunner/auth/src/security/middleware/auth.middleware/auth-utilities.ts
  packages/@reporunner/auth/src/security/middleware/file-upload.middleware.ts
  packages/@reporunner/auth/src/security/middleware/rate-limit.middleware.ts
  packages/@reporunner/auth/src/security/middleware/security-headers.middleware.ts
  packages/@reporunner/auth/src/security/middleware/validation.middleware.ts
  packages/@reporunner/auth/src/security/middleware/validation/ValidationMiddleware.ts
  packages/shared/src/validation/index.ts
Due: lint, format

chore: update TypeScript build cache after refactoring
  .tsbuildinfo
  packages/@reporunner/@reporunner/services/tsconfig.tsbuildinfo
Due: none

fix: add comment to intentional empty catch block
  packages/@reporunner/auth/src/security/middleware/file-upload.middleware.ts
Due: lint, format

style: apply Biome auto-fixes for code style
  packages/@reporunner/auth/src/security/middleware/auth.middleware/auth-utilities.ts
  packages/@reporunner/auth/src/security/middleware/rate-limit.middleware.ts
  packages/@reporunner/auth/src/security/middleware/validation.middleware.ts
  packages/@reporunner/auth/src/security/middleware/validation/ValidationMiddleware.ts
  packages/@reporunner/integrations/src/security/credential-manager.ts
  packages/@reporunner/validation/src/cli/dev-experience-cli.ts
  packages/@reporunner/validation/src/controller/ValidationController.ts
  packages/@reporunner/validation/src/developer-experience/IDEPerformanceAnalyzer.ts
  packages/@reporunner/validation/src/ide-performance/ide-performance-validator.ts
  packages/backend/src/database/optimization/query-optimizer.ts
  packages/backend/src/domains/collaboration/controllers/CommentController.ts
  packages/backend/src/domains/collaboration/controllers/SessionController.ts
  packages/backend/src/services/AuditService.ts
  reports/duplication/jscpd-report.json
Due: lint, format

refactor: reduce cognitive complexity across 7 critical functions
  packages/@reporunner/auth/src/utils/password-validator.ts
  packages/@reporunner/enterprise/src/rbac/advanced-rbac.ts
  packages/frontend/src/app/components/AuditDashboard/AuditDashboard.tsx
  packages/frontend/src/app/components/EnterpriseDashboard/EnterpriseDashboard.tsx
  packages/frontend/src/app/components/Landing/ComparisonTable.tsx
  packages/frontend/src/app/components/Landing/PricingSection.tsx
  packages/frontend/src/app/components/PluginMarketplace/PublishPlugin.tsx
Due: lint, format

fix: resolve circular dependency in @reporunner/integrations
  packages/@reporunner/integrations/src/index.ts
  packages/@reporunner/integrations/src/security/credential-manager.ts
Due: lint, format

fix: add missing property declarations in validation package
  packages/@reporunner/validation/src/cli/dev-experience-cli.ts
  packages/@reporunner/validation/src/controller/ValidationController.ts
  packages/@reporunner/validation/src/developer-experience/IDEPerformanceAnalyzer.ts
  packages/@reporunner/validation/src/ide-performance/ide-performance-validator.ts
  packages/frontend/src/app/components/PluginMarketplace/PublishPlugin.tsx
Due: lint, format

fix: add missing property declarations in backend package
  packages/backend/src/database/optimization/query-optimizer.ts
  packages/backend/src/domains/collaboration/controllers/CommentController.ts
  packages/backend/src/domains/collaboration/controllers/SessionController.ts
  packages/backend/src/services/AuditService.ts
Due: lint, format

feat: enhance Docker distribution with profile-based architecture and comprehensive documentation
  .env.example
  CLAUDE.md
  DOCKER.md
  Dockerfile
  Dockerfile.backend
  Dockerfile.backup
  Dockerfile.dev
  Dockerfile.frontend
  Dockerfile.worker
  docker-compose.yml
  infrastructure/docker/alertmanager/alertmanager.yml
  infrastructure/docker/grafana/dashboards/api-performance.json
  infrastructure/docker/grafana/dashboards/business-metrics.json
  infrastructure/docker/grafana/dashboards/database-performance.json
  infrastructure/docker/grafana/dashboards/queue-metrics.json
  infrastructure/docker/grafana/dashboards/security.json
  infrastructure/docker/grafana/dashboards/workflow-execution.json
  infrastructure/docker/grafana/provisioning/dashboards/default.yml
  infrastructure/docker/grafana/provisioning/datasources/prometheus.yml
  infrastructure/docker/nginx/frontend.conf
  infrastructure/docker/nginx/loadbalancer.conf
  infrastructure/docker/prometheus/prometheus.yml
  infrastructure/docker/scripts/backup.sh
  infrastructure/docker/scripts/mongo-init.js
  infrastructure/docker/scripts/postgres-init.sql
  infrastructure/docker/scripts/setup-cron.sh
Due: lint, format

feat: add one-command Docker installation
  .github/workflows/docker-publish.yml
  CLAUDE.md
  DOCKER.md
  README.md
  docker-compose.simple.yml
  scripts/install.sh
Due: format

fix: update Docker distribution paths for KlikkAI repository
  .github/workflows/docker-publish.yml
  CLAUDE.md
  DOCKER.md
  README.md
  docker-compose.simple.yml
  scripts/install.sh
Due: format

feat: update CI/CD workflows and documentation
  .github/workflows/cd.yml
  .github/workflows/release.yml
  .tsbuildinfo
  DEPLOYMENT.md
  DOCKER_COMPARISON.md
  docs/project-planning/DOCKER_ALL_IN_ONE_SOLUTION.md
  infrastructure/docker/grafana/dashboards/system-health.json
  packages/backend/src/config/database.ts
  packages/backend/src/worker.ts
Due: lint, format

fix: standardize pnpm version to 10.18.1 across all Dockerfiles
  Dockerfile
  Dockerfile.backend
  Dockerfile.dev
  Dockerfile.frontend
  Dockerfile.worker
Due: none

fix: standardize pnpm version to 10.18.1 across all GitHub Actions workflows
  .github/workflows/biome.yml
  .github/workflows/bundle-analysis.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/docs.yml
  .github/workflows/jscpd.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
Due: none

chore: update ignore files to exclude dev-only directories
  .biomeignore
  .dockerignore
  .gitignore
  .prettierignore
  IGNORE_FILES_UPDATE.md
Due: format

fix: resolve GitHub Actions workflow failures
  .github/workflows/cd.yml
  .github/workflows/performance.yml
  package.json
  packages/@reporunner/cli/package.json
Due: format

fix: resolve GitHub Actions workflow failures (comprehensive)
  .github/workflows/docker-publish.yml
  .github/workflows/performance.yml
  .jscpdrc.json
  package.json
  packages/@reporunner/cli/package.json
  pnpm-lock.yaml
Due: format

fix: update jscpd threshold to allow reasonable duplication
  .jscpd.json
  .jscpdrc.json
Due: format

fix: set jscpd exitCode to 0 to allow passing under threshold
  .jscpd.json
Due: format

chore: remove dev-only files from git tracking
  .claude/agents/changesets-release-manager.json
  .claude/agents/code-deduplication-validator.md
  .claude/agents/code-quality-checker.md
  .claude/agents/credential-security-auditor.json
  .claude/agents/docker-compose-sync-validator.json
  .claude/agents/documentation-sync-validator.json
  .claude/agents/frontend-architecture-optimizer.json
  .claude/agents/grafana-alertmanager-sync.json
  .claude/agents/helm-chart-version-sync.json
  .claude/agents/license-compliance-auditor.json
  .claude/agents/madge-circular-dependency-reporter.json
  .claude/agents/monorepo-audit-optimizer.json
  .claude/agents/node-integration-creator.json
  .claude/agents/playwright-e2e-generator.json
  .claude/agents/security-dependabot-checker.json
  .claude/agents/turborepo-cache-optimizer.json
  .claude/agents/vitest-coverage-enforcer.json
  .claude/agents/workflow-json-validator.json
  .kiro/specs/phase-a-validation-optimization/PROGRESS.md
  .kiro/specs/phase-a-validation-optimization/STATUS_UPDATE.md
  .kiro/specs/phase-a-validation-optimization/design.md
  .kiro/specs/phase-a-validation-optimization/requirements.md
  .kiro/specs/phase-a-validation-optimization/tasks.md
  DOCKER_COMPARISON.md
  DOCKER_FIXES.md
  DOCKER_OPENSOURCE_GUIDE.md
  DOCKER_OPENSOURCE_SUMMARY.md
  packages/@reporunner/validation/test-performance-data-good/performance-history.json
  packages/@reporunner/validation/test-performance-data-small/performance-history.json
Due: format

fix: lighthouse job - build frontend dependencies first
  .github/workflows/performance.yml
Due: none

fix: lighthouse turbo command and nginx Docker Hub issue
  .github/workflows/performance.yml
  Dockerfile.frontend
Due: none

fix: upgrade minimum Node.js version to 20.19.0 for Vite 7 compatibility
  .github/workflows/ci.yml
  .tsbuildinfo
  package.json
  packages/@reporunner/@reporunner/services/tsconfig.tsbuildinfo
  packages/@reporunner/integrations/src/security/credential-manager.ts
  packages/@reporunner/validation/src/cli/dev-experience-cli.ts
  packages/@reporunner/validation/src/controller/ValidationController.ts
  packages/@reporunner/validation/src/developer-experience/IDEPerformanceAnalyzer.ts
  packages/@reporunner/validation/src/ide-performance/ide-performance-validator.ts
  packages/backend/src/database/optimization/query-optimizer.ts
  packages/backend/src/domains/collaboration/controllers/CommentController.ts
  packages/backend/src/domains/collaboration/controllers/SessionController.ts
  packages/backend/src/services/AuditService.ts
  packages/backend/src/worker.ts
  reports/duplication/html/index.html
  reports/duplication/html/jscpd-report.json
  reports/duplication/jscpd-report.json
Due: lint, format

fix: add missing property declarations in validation package
  packages/@reporunner/validation/src/cli/dev-experience-cli.ts
  packages/@reporunner/validation/src/controller/ValidationController.ts
  packages/@reporunner/validation/src/developer-experience/IDEPerformanceAnalyzer.ts
  packages/@reporunner/validation/src/ide-performance/ide-performance-validator.ts
Due: lint, format

fix: update documentation workflow to use Node.js 20
  .github/workflows/docs.yml
Due: none

fix: add missing masterKey property to CredentialManager
  packages/@reporunner/integrations/src/security/credential-manager.ts
Due: lint, format

fix: fix added
  .tsbuildinfo
Due: none

fix: add attestations permission to Docker publish workflow
  .github/workflows/docker-publish.yml
Due: none

fix: resolve Biome linting errors in CLI package
  packages/@reporunner/cli/src/commands/node.ts
  packages/@reporunner/cli/src/commands/node/file-generation.ts
  packages/@reporunner/cli/src/commands/start.ts
  packages/@reporunner/cli/src/commands/workflow.ts
  packages/@reporunner/cli/src/dev-tools/cli.ts
  packages/@reporunner/cli/src/dev-tools/generators.ts
  packages/@reporunner/cli/src/dev-tools/testing.ts
Due: lint, format

fix: add NodeGenerationData interface to resolve TypeScript errors
  packages/@reporunner/cli/src/commands/node.ts
  packages/@reporunner/cli/src/commands/node/file-generation.ts
Due: lint, format

fix: replace TypeDoc --dry-run with JSON validation
  .github/workflows/docs.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,tsx,vue}
  format: any of: *.{js,ts,tsx,vue,json,md}
